.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #6E3F19;
    color:floralwhite;
}
address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
.row-header{
    margin:0px auto;
    padding:0px;
}
.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 2px ridge;
    min-height:400px;
}
.footer{
    background-color: #dbb08d;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}
.bg-light {
    background-color: #dbb08d !important;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
.table .thead-dark th{
    color:floralwhite;
    background-color:#6E3F19
}
tr:hover {background-color:#dbb08db0 !important}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color:#6E3F19 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }